/* Custom CSS for Recipe Project */

body {
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}

.header {
    height: 100vh;
    width: 100%;
    background: url("bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header .flex-overlay {
    height: 100%;
    width: 100%;
    display: flex;
	margin-top: -5%;
    justify-content: center;
    align-items: center;
    color: white;
}

.header .flex-overlay h1 {
    text-align: center;
	animation-name: logo;
	animation-duration: 3s;
    text-shadow: 2px 2px black;
}

.header .flex-overlay h1 img {
    width: 45%;
    height: 45%;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-dark .navbar-brand {
    color: white !important;
}

.navbar-dark .navbar-toggler-icon {
    background: url('https://mdbcdn.b-cdn.net/img/svg/hamburger2.svg?color=fff') !important;
}

/* Button Stylization */
.btn-dark {
    background: transparent !important;
    border-color: white;
}

.btn-dark:hover {
    border-color: white;
}

.btn-dark:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: white !important;
}

.fa.fa-user-circle {
    font-size: 2.25rem;
    color: white !important;
	text-shadow: 2px 2px black !important;
}

.fa.fa-user-circle:hover {
    animation: animacja 3s infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

#reg {
    cursor: pointer;
}

/* Device Responsive Google Maps */
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    clear: both;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 40%;
    width: 100%;
    position: absolute;
}

@media screen and (max-width: 411px) {
    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

@media screen and (min-width: 412px) and (max-width: 460px) {
    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 90%;
        width: 100%;
        position: absolute;
    }
}

@media screen and (min-width: 461px) and (max-width: 523px) {
    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 80%;
        width: 100%;
        position: absolute;
    }
}

@media screen and (min-width: 524px) and (max-width: 608px) {
    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 70%;
        width: 100%;
        position: absolute;
    }
}

@media screen and (min-width: 609px) and (max-width: 726px) {
    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 60%;
        width: 100%;
        position: absolute;
    }
}

@media screen and (min-width: 727px) and (max-width: 903px) {
    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 50%;
        width: 100%;
        position: absolute;
    }
}

/* Animation */
@keyframes animacja {
    0%{transform: scale(1)}
    25%{transform: scale(1.2)}
    50%{transform: scale(1)}
    75%{transform: scale(1.2)}
    100%{transform: scale(1)}
}

@keyframes logo {
    0%{margin-left: -3000px;}
    33%{margin-left: 150px;}
    66%{margin-left: -50px;}
    100%{left:0px;}
}

/* CSS for Login Form */
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;
    }

    .modal-content {
        padding: 1rem;
    }
}

.modal-header .close {
    margin-top: -1.5rem;
}
  
.form-title {
    margin: -2rem 0rem 2rem;
}
  
.btn-round {
    border-radius: 3rem;
}
  
.delimiter {
    padding: 1rem;  
}

.signup-section {
    padding: 0.3rem 0rem;
}

/* Customer Reviews */
.align-center {
    text-align: center;
}

.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px){
    .hash-list.cols-3 > li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}

@media (min-width: 768px){
    .hash-list.cols-3 > li {
        width: 33.3333%;
    }
}

.hash-list > li {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.pad-30, .pad-30-all > * {
    padding: 30px;
}

img {
    border: 0;
}

.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}

.wpx-100, .wpx-100-after:after {
    width: 100px;
}

.img-round, .img-rel-round {
    border-radius: 50%;
}

.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
}

.align-center {
    text-align: center;
}

[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}

.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #222;
}

.font-cond-b {
    font-weight: 700 !important;
}
