/* Custom CSS for Recipe Project */

body {
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}

.header {
    height: 100vh;
    width: 100%;
    background: url("bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header .flex-overlay {
    height: 100%;
    width: 100%;
    display: flex;
	margin-top: -5%;
    justify-content: center;
    align-items: center;
    color: white;
}

.header .flex-overlay h1 {
    text-align: center;
	animation-name: logo;
	animation-duration: 3s;
    text-shadow: 2px 2px black;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-light .navbar-brand {
    color: white !important;
}

.navbar-dark .navbar-toggler-icon {
    background: url('https://mdbcdn.b-cdn.net/img/svg/hamburger2.svg?color=fff') !important;
}

.btn-dark {
    background: transparent !important;
    border-color: white;
}

.btn-dark:hover {
    border-color: white;
}

.btn-dark:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: white !important;
}

.fa.fa-user-circle {
    font-size: 2.25rem;
    color: white !important;
	text-shadow: 2px 2px black !important;
}

.fa.fa-user-circle:hover {
    animation: animacja 3s infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

.map-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe{
    left: 0;
    top: 0;
    height: 40%;
    width: 100%;
    position: absolute;
}

@keyframes animacja {
    0%{transform: scale(1)}
    25%{transform: scale(1.2)}
    50%{transform: scale(1)}
    75%{transform: scale(1.2)}
    100%{transform: scale(1)}
}

@keyframes logo {
    0%{margin-left: -3000px;}
    33%{margin-left: 150px;}
    66%{margin-left: -50px;}
    100%{left:0px;}
  }
